* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman',Georgia,  Times, serif;
    scroll-behavior: smooth;
}

.letter {
    letter-spacing: 4px;
}

.btn-hover:hover {
    background-color: #CCCCCC;
}

.clear {
    clear: both;
}

.img-width-full {
    width: 100%;
}

.width-half {
    width: 50%;
    padding: 12px 24px;
    float: left;
}

hr {
    margin: 20px auto;
    width: 1100px;
}
/* Main */

/* Begin: Header */
#header {
    width: 100%;
    height: 54.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 8px 16px;
    text-align: right;
    background-color: white;
    position: fixed;
    font-size: 15px;
    z-index: 1;
}

.nav li {
    display: inline-block;
}

.nav li a {
    padding: 8px 16px;
    text-decoration: none;
    line-height: 40.5px;
    color: black;
}

.nav li:first-child {
    float: left
}
/* End: Header */
/* ------------------------------------------------ */
/* Begin: Slider */
#slider {
    position: relative;
}

#slider .slider-heading {
    position: absolute;
    padding: 12px 24px;
    bottom: 5px;
}

#slider .slider-heading h1 {
    margin: 10px 0;
    font-size: 36px;
    opacity: 0.6;
    font-weight: 400;
}
/* End: Slider */

/* Begin: Content */
.content-section {
    width: 1100px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
/* Begin: About */
.content-section img {
    opacity: 0.7;
}

.heading {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
    font-weight: 400;
}

.about-sub-heading {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

.about-content {
    font-size: 18px;
    line-height: 1.4;
    margin: 18px 0;
    text-align: justify;
}

.about-content:last-child {
    opacity: 0.6;
}
/* End: About */

/* Begin: Menu */
.menu-sub-heading {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.menu-content {
    font-size: 15px;
    margin: 15px 0;
    opacity: 0.6;
}
/* End: Menu */

/* Begin: Contact */
.contact-heading {
    font-size: 36px;
    margin: 10px 0;
}

.contact-sub-heading-b {
    color: #607D8B;
    font-size: 18px;
    margin: 18px 0;
}

.contact-sub-heading {
    font-size: 15px;
    margin: 15px 0;
}

.contact-input {
    display: block;
    width: 100%;
    padding: 16px 8px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #CCC;
}

.contact-btn {
    padding: 8px 16px;
    margin: 16px 0;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    font-family: none;
}
/* End: Contact */
/* End: Content */

/* Begin: Footer */
#footer {
    width: 100%;
    background-color: #F1F1F1;
    text-align: center;
    padding: 32px 0;
}
#footer p, #footer a {
    color: black;
    margin: 15px 0;
} 

#footer a:hover {
    color: #4CAF50;
}
/* End: Footer */